<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Archived todos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="todos">



    <ion-row>
        <ion-col>
            <ion-searchbar></ion-searchbar>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label>Categories</ion-label>
                <ion-select selectedText=" " multiple="true" placeholder="Tri" cancelText="Nah" okText="Okay!">
                    <ion-select-option value="bacon">Bacon</ion-select-option>
                    <ion-select-option value="olives">Black Olives</ion-select-option>
                    <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                    <ion-select-option value="peppers">Green Peppers</ion-select-option>
                    <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                    <ion-select-option value="onions">Onions</ion-select-option>
                    <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                    <ion-select-option value="pineapple">Pineapple</ion-select-option>
                    <ion-select-option value="sausage">Sausage</ion-select-option>
                    <ion-select-option value="Spinach">Spinach</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-select placeholder="Tri">
                    <ion-select-option value="f">Date</ion-select-option>
                    <ion-select-option value="m">Nom</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-card *ngFor="let todo of todos">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button mini color="danger" (click)="deleteTodo(todo)">
                <ion-icon name="remove"></ion-icon>
            </ion-fab-button>

        </ion-fab>



        <ion-img width="10" height="10" *ngIf="todo.image" [src]="todo.image"></ion-img>


        <ion-card-header>
            <ion-card-subtitle>{{todo.date}} {{todo.hour}}</ion-card-subtitle>
            <ion-card-title>{{todo.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>{{todo.description}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>