<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            List of Todos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="todos">
    <ion-row>
        <ion-col>
            <ion-searchbar></ion-searchbar>
        </ion-col>
        <!-- [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"> -->
        <ion-col>
            <ion-item>
                <ion-label>Categories</ion-label>
                <ion-select selectedText=" " multiple="true" placeholder="Tri" cancelText="Nah" okText="Okay!">
                    <ion-select-option value="bacon">Bacon</ion-select-option>
                    <ion-select-option value="olives">Black Olives</ion-select-option>
                    <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
                    <ion-select-option value="peppers">Green Peppers</ion-select-option>
                    <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
                    <ion-select-option value="onions">Onions</ion-select-option>
                    <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
                    <ion-select-option value="pineapple">Pineapple</ion-select-option>
                    <ion-select-option value="sausage">Sausage</ion-select-option>
                    <ion-select-option value="Spinach">Spinach</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-select placeholder="Tri">
                    <ion-select-option value="f">Date</ion-select-option>
                    <ion-select-option value="m">Nom</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-card *ngFor="let todo of todos">
        <div *ngIf="!todo.isEdit">
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-row>
                    <ion-col>
                        <ion-fab-button mini color="success" (click)="todo.isEdit=true">
                            <ion-icon name="construct"></ion-icon>
                        </ion-fab-button>
                    </ion-col>
                    <!-- deleteTodo(todo.name) -->
                    <ion-col>
                        <ion-fab-button mini color="danger" (click)="deleteTodo(todo)">
                            <ion-icon name="remove"></ion-icon>
                        </ion-fab-button>
                    </ion-col>
                </ion-row>


            </ion-fab>



            <ion-img width="10" height="10" *ngIf="todo.image" [src]="todo.image"></ion-img>


            <ion-card-header>
                <ion-card-subtitle>{{todo.date}} {{todo.hour}}</ion-card-subtitle>
                <ion-card-title>{{todo.title}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <p>{{todo.description}}</p>
            </ion-card-content>
        </div>

        <form (ngSubmit)="pushForm(todo)" *ngIf="todo.isEdit">

            <ion-item>
                <ion-label>Todo</ion-label>
                <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Description</ion-label>
                <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>Categories</ion-label>
                <ion-select [(ngModel)]="todo.categories" multiple="true" name="categories">
                    <ion-select-option *ngFor="let category of listCategories" [value]="category">{{category}}</ion-select-option>
                </ion-select>
            </ion-item>


            <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="todo.date" name="date"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Heure</ion-label>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="todo.hour" name="hour"></ion-datetime>
            </ion-item>

            <ion-item *ngIf="!isBrowser()">
                <ion-label>Image</ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <button ion-button icon-only (click)="pictureFromCamera()">
                                <ion-icon name="camera"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col col-6>
                            <button ion-button icon-only (click)="pictureFromGallery()">
                                <ion-icon name="image"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>


            <ion-item *ngIf="isBrowser()">
                <ion-label>Image</ion-label>
                <input type="file" (change)="onFileChanged($event, todo)" placeholder="Upload file">
            </ion-item>

            <ion-item *ngIf="todo.image">
                <ion-label>Image</ion-label>
                <img [src]="todo.image">
            </ion-item>


            <ion-item>
                <button ion-button color="primary" type="submit" block>Save Todo</button>
            </ion-item>
        </form>

    </ion-card>



</ion-content>